.footer {
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0px;
    justify-content: space-between;
}
.footer p {
    text-align: center;
    font-size: small;
    color: #61DBFB;
}